<div class="heading">
  <div class="logo logoColor">
    <h1><a href="/recipes">App<span class="blue">i</span>tite</a></h1><p>  Recipes . Everywhere .</p><br>

  </div>

  <div class="loginNav">
    <% if (username) { %>
      Bon App<span class="blue">i</span>tite,<a href="/profile/<%= oneUser[0]._id %>"> <%= username %></a><br>

      <a href="/session/logout">Log out</a>
    <% } else { %>
      <a href="/session/login">Sign up / Login</a>
    <% } %>
  </div>

</div>
