@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Raleway');

* {
  /*border: 1px solid red;*/
  font-family: 'Maven Pro', sans-serif;
  /*border: 1px solid red;*/
}
.material-icons {
  margin: 0 !important;
}
a {
  text-decoration: none;
}
a:hover {
  /*color: green;*/
}
.h1IBlock {
  display: inline-block;
}
h5 {
  margin: 2px;
}

/*Header*/
.heading {
  background: #DF6A6A;
  /*background: #CACACA;*/
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  color: #FFFFFF;
}
header a:hover {
  color: #00FFFB;
}
.logo > h1 {
  margin: 0;
  /*margin-left: 10px;*/
  font-size: 50px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 10px;
}
.logo > p {
  display: inline-block;
  font-size: 11px;
  color: #FFFFFF;
}
.logo a {
  color:#FFFFFF
}
.logo a:hover {
  color:#FFFFFF
}
.blue {
  color: #00FFFB;
}
.loginNav {
  text-align: right;
  line-height: 30px;
  color: white;
}
.myButton {
  /*background: #DF6A6A;*/
  /*display: inline-block;*/
  /*padding: 2px 10px 4px 10px;*/
  /*border-radius: 0  0 2px 2px;*/
  /*margin: 0 2px 10px 0;*/
  margin: 0;
  /*margin: 0 0 0 80%;*/
  margin-left: 8px;
  /*border: 1px solid red;*/
  /*left: 500;*/
  max-width: 500px;
  text-align: right;
}
.myButton a {
  color: #DF6A6A;
}
/*.myButton:hover {
  background: #D36363;
}*/


/*Body*/

.container {
  /*border: 1px solid red;*/
  max-width: 960px;
  margin: 0 auto;
}
.headlineMedium {
  margin: 0px;
  color: #DF6A6A;
  display: inline-block;
}
.line {
  width: 100%;
  border: 1px solid #DF6A6A;
  margin: 0;
}

/*Models*/
.modelBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.registerBox {
  display: none;
}
/*End Models*/

.recDataForm {
  border-radius: 10px 0 10px 0;
  padding: 10px;
  margin: 0px auto;
  margin-top: 100px;
  background: #DEDEDE;
  max-width: 500px;
}
.recDataForm h1 {
  color: #DF6A6A;
  margin: 0px 10px 10px 0px;
}
.neverMind {
  border:0px ;
  border-radius: 20px 2px 2px 2px;
  background: #D24444;
  height: 20px;
  cursor: pointer;
  color: #FFFFFF;
}
.neverMind a {
  color: #FFFFFF;
}
.deleteForm {
  display: inline;
  /*width: 45px;*/
  /*margin: 0px;
  padding: 0px;*/
}
.removeRec {
  border:0px ;
  border-radius: 5px 0 5px 0;
  /*border-radius: 2px 20px 2px 2px;*/
  background: #D24444;
  color: #FFFFFF;
  cursor: pointer;
  /*margin: 0px;*/
}
.go {
  border:0px ;
  border-radius: 2px 20px 2px 2px;
  background: #7AD244;
  color: #FFFFFF;
  cursor: pointer;
}
.editBtn {
  /*margin: 0px;*/
  /*width: 45px;*/
  border:0px ;
  border-radius: 5px 0 5px 0;
  /*border-radius: 15px 2px 2px 2px;*/
  background: #00FFFB;
  cursor: pointer;
  color: #FFFFFF;
}
.addAButton {
  border:0px ;
  background: #DF6A6A;
  border-radius: 3px 3px 0px 0px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  padding: 0 3px 0 3px;
}
.addAButton:hover {
  background: #FFFFFF;
  color: #DF6A6A;
  cursor: pointer;
}
.newUserBtn {
  border:0px;
  color: #FFFFFF;
  background: #00FFFB;
  border-radius: 5px 0 5px 0;
}
.existingUserBtn {
  border:0px;
  color: #FFFFFF;

  background: #DF6A6A;
  border-radius: 5px 0 5px 0;
}
.view {
  border:0px ;
  width: 100%;
  background: #DF6A6A;
  border-radius: 0px 0px 8px 0px;
  color: #FFFFFF;
}
.view a {
  color: #FFFFFF;
}

.input {
  border:0px ;
  border-radius: 2px;
}
.input2 {
  border:0px ;
  border-radius: 2px;
  border: 1px solid #DEDEDE;
  display: inline-block;
  margin: 0;
}
.input2Margin {
  margin-left: 4px;
}
.wideInput {
  width: 100%;
}
.flexRSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexRSB2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
/*.flexRSB3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}*/
/*.inline {
  display: inline-block;
  border: 1px solid red;
  max-width: 700px;
}*/
.flexRW {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*align-items: flex-end;*/
}
.flexRCW {
  max-height: 500px;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.recipeBox {
  text-align: center;
  margin: 10px;
  border: 1px solid #DF6A6A;
  font-size: 12px;
  /*max-height: 150px;*/
  background: #FFEDED;
  /*background: #DEDEDE;*/
  border-radius: 10px 0 10px 0;
}
.recipeBox > a {
  color: #DF6A6A;
}
.imageBox {
  /*border: 1px solid red;*/
  border-radius: 10px 0 10px 0;
  width: 100px;
  height: 59px;
  overflow: hidden;
}
.imageBox img {
  max-width: 100px;
  max-height: 100px;
}
.buttonBox {
  /*border: 1px solid blue;*/
}
.welcomeBox {
  color: #DF6A6A;
  /*border: 1px solid red;*/
  margin: 0 auto;
  text-align: center;
}
.title {
  color: #DF6A6A;
  margin: 0 auto;
  text-align: center;
}

/*Sign up Page*/
.signInBox {
  /*border: 1px solid red;*/
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.signInBox h2 {
  color: #DF6A6A;
}
.loginFormBox {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

/*Recipe Show page*/
.recProfileImg {
  max-width: 400px;
  max-height: 400px;
}
.bigImgBox {
  /*border-radius: 10px 0 10px 0;*/
  border-radius: 10px;
  width: 400px;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  /*border: 1px solid red;*/
  margin: 5px;
}
/*.descriptionBox {
  display: inline-block;
  margin: 0 10px 0 10px;
}*/
.recShowFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background: #DEDEDE;*/
}
.contentBox {
  margin: 5px;
  padding: 5px;
  /*border: 1px solid red;*/
  width: 400px;
  height: 250px;
  /*max-width: 300px;
  max-height: 300px;*/
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}
.contentBox h4 {
  margin: 0;
  color: #DF6A6A;
}
/*.curveTopRight {
  border-radius: 0px 10px 0px 0px;
}
.curveTopLeft {
  border-radius: 10px 0px 0px 0px;
}
.curveBottomRight {
  border-radius: 0px 0px 10px 0px;
}
.curveBottomLeft {
  border-radius: 0px 0px 0px 10px;
}*/
.backgrounPink {
  background: #FFEDED;
}
.backgrounBlue {
  background: #C4FFFE;
}
.backgroundGreen {
  background: #D3F5BE;
}
