<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <% for (let User of allUsers) { %>

        <a href="/profile/<%= User._id %>"><h2><%= User.username %></h2></a>

        <form class="deleteForm" action="/profile/<%= User._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Product">
        </form>

        <button class="editButton"><a href="/profile/<%=User._id; %>/edit">Edit</a></button>

      <% } %>
  </body>
</html>
