<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>

    <% if (message) { %>
      <%= message %>
    <% } %>
      <form action="/session/login" method="post">
        Username: <input name="username" /> <br />
        Password: <input name="password" /><br />
        <button type="submit">Submit</button>
      </form>
      <br>
      <h2>Register</h2>
      <form action="/session/register" method="post">
        Username: <input name="username" /> <br />
        Password: <input name="password" /><br />
        <button type="submit">Register</button>
      </form>
  </body>
</html>
