<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <div class="container">
      <div class="signInBox">
        <div id="logInBox" class="logInBox">
          <h2>Login</h2>
          <% if (message) { %>
            <%= message %>
          <% } %>
          <div class="loginFormBox">
            <form action="/session/login" method="post">
              Username: <input class="input2" name="username" /> <br />
              Password: <input class="input2 input2Margin" type="password" name="password" />
              <button class="go" type="submit">Login</button>
            </form>
          </div>
          <br>
          <button id="newUserBtn" class="newUserBtn">New User? Sign Up</button>
        </div>
        <div id="registerBox" class="registerBox">
          <h2>Sign Up</h2>
          <% if (regmessage) { %>
            <%= regmessage %>
          <% } %>
          <div class="loginFormBox">
            <form action="/session/register" method="post">
              Username: <input class="input2" name="username" /> <br />
              Password: <input class="input2 input2Margin" type="password" name="password" />
              <button class="go" type="submit">Sign Up</button>
            </form>
          </div>
          <br>
          <button id="existUserBtn" class="existingUserBtn">Existing User? Login</button>
        </div>
      </div>
    </div>
  </body>
</html>
