<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (message) { %>
      <%= message %>
    <% } %>
      <form action="/user/login" method="post">
        Username: <input name="username" /> <br />
        Password: <input name="password" /><br />
        <button type="submit">Submit</button>
      </form>
      <br>
      <h2>Register</h2>
      <form action="/user/register" method="post">
        Username: <input name="username" /> <br />
        Password: <input name="password" /><br />
        <button type="submit">Register</button>
      </form>
  </body>
</html>
