<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    <% if (username) { %>
      Welcome, <%= username %>. <a href="/session/logout">Log out</a>
    <% } %>
  </header>
    Recipe index
    <a href="/session/login">Login</a>

  </body>
</html>
