<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    Recipe index


    <% for (let Recipe of allRecipes) { %>

              <li>
                <a href="/recipes/<%= Recipe._id %>"><%= Recipe.title %></a>

              </li>

      <% } %>

  </body>
</html>
